<div>
    <app-topbar></app-topbar>
</div> 
<div class="home-dashboard">
    <app-home-dashboard></app-home-dashboard>
</div>

<!-- <div class="faded-content">
    <div class="background-image">
        <video height="500px" autoplay loop>
            <source src="\assets\video\4.mp4" type="video/mp4">
        </video>       
    </div> -->
    <!-- <app-full-vs-wealth></app-full-vs-wealth> -->
    
    <app-full-vs-wealth3></app-full-vs-wealth3>
    <br>
<app-why-us></app-why-us>
<app-faq></app-faq> <br>
<app-seventh-page></app-seventh-page>
<app-footer></app-footer>
<app-fin></app-fin>
<!-- </div> -->
