<div class="container-fluid">
    <div class="row">
        <div class="top">
            <h1 class="heading">Full Time Accountant vs  WealthBridge Consultancy</h1>
        </div> 
        <div class="col-5">
            <mat-card >
                <mat-card-title class="title">
                    <h2 class="heading1"> <img class="image2" src="\assets\icon-image\image2.7.png" alt=""> Full Time Accountant</h2> 
                </mat-card-title> 
                <mat-card-content>
                    <!-- CARD 1 -->
                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"><img class="icon" src="\assets\icon-image\image1.5.png" alt="">Cost Efficient</p>
                            </div> 
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <!-- <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2> -->
                                    <!-- <img class="icon" src="\assets\icon-image\image1.5.png" alt=""> -->
                                     Cost Efficiency
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <p> Requires salary</p>
                                    <p> accommodation</p>
                                    <p> travel allowance</p>
                                    <p> yearly leave</p>
                                    <p>additional benefits</p>
                                    <!-- Requires salary, accommodation, travel allowance, yearly leave, and additional benefits. -->
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                  

                    <!-- CARD 2 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image2.8.png" alt=""> Flexible Engagement</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image2.8.png" alt=""> Flexible Engagement
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <p>Requires a long-term commitment</p>
                                    <p>Regardless of workload fluctuations.</p>
                                    <!-- Requires a long-term commitment regardless of workload fluctuations. -->
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>

                   

                    <!-- CARD 3 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image2.9.jpg" alt="">Expertise on Demand</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image2.9.jpg" alt=""> Expertise on Demand
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Limited expertise in a single domain.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                   

                    <!-- CARD 4 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.0.jpg" alt="">Reduced Administrative Burden</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image3.0.jpg" alt=""> Reduced Administrative Burden
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <p> Requires HR management</p>
                                    <p>Benefits administration</p>
                                    <p>Additional resources</p>
                                    <!-- Requires HR management, benefits administration, and additional resources. -->
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                   

                    <!-- CARD 5 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image2.9.jpg" alt="">No Hiring Hassles</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image3.1.png" alt=""> No Hiring Hassles
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <p>Time-consuming</p>
                                    <p>Recruitment</p>
                                    <p>Onboarding process</p>
                                    <!-- Time-consuming recruitment and onboarding process -->
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>

                    


                    <!-- CARD 6 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.2.jpg" alt="">Cost-Effective Solutions</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image3.2.jpg" alt=""> Cost-Effective Solutions
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Fixed cost regardless of workload or specific tasks.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                   

                    <!-- CARD 7 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.3.png" alt="">Access to a Range of Services</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image3.3.png" alt=""> Access to a Range of Services
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Limited expertise in a single domain.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                    


                    <!-- CARD 8 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.4.jpg" alt="">Adaptability to Business Changes</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image3.4.jpg" alt=""> Adaptability to Business Changes
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    May lack the flexibility to adapt to changing business needs.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                    


                    <!-- CARD 9 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.5.jpg" alt="">Quality Assurance</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image3.5.jpg" alt=""> Quality Assurance
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Individual performance may vary
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                   


                    <!-- CARD 10 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.6.png" alt="">Scalability</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image3.6.png" alt=""> Scalability
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Limited scalability without hiring additional staff.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
    
                    </div>
                    
                    <!-- CARD 11 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.7.png" alt="">Focus on Core Competencies</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\icon-image\image2.7.png" alt="">Full Time Accountant</h2>
                                    <img class="icon" src="\assets\icon-image\image3.7.png" alt=""> Focus on Core Competencies
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Diverts your attention from core business functions.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                    


                </mat-card-content>
            </mat-card>
        </div>

<div class="col-2">
    <!-- <img class="icon5" src="\assets\icon-image\image1.5.png" alt="">
    <p class="para5">
        Cost Efficency
    </p>
<br> <br>
<img class="icon5" src="\assets\icon-image\image2.8.png" alt="">
    <p class="para5">
        Flexible Enagaement
    </p> -->
</div>
        <!-- WEALTH BRIDGE COLUMN -->

        <div class="col-5">
            <mat-card>
                <mat-card-title class="title">
                   <h2 class="heading1"> <img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">  WealthBridge Consultancy </h2>
                </mat-card-title>

                <mat-card-content>
                    <!-- CARD 1 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> 
                                    <img class="icon" src="\assets\icon-image\image1.5.png" alt="">
                                    Cost Efficiency
                                </p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <!-- <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2> -->
                                    <!-- <img class="icon" src="\assets\icon-image\image1.5.png" alt="">  -->
                                    Cost Efficiency
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <p> Pay only for the services you need</p>
                                    <p> Eliminating the need for extensive benefits</p>
                                    <p>Allowances</p>
                                    <!-- Pay only for the services you need, eliminating the need for extensive benefits and allowances. -->
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                    


                    <!-- CARD 2 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image2.8.png" alt=""> Flexible Engagement</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image2.8.png" alt=""> Flexible Engagement
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <!-- Hire us as and when needed, whether for specific tasks, projects, or ongoing support. -->
                                    <p>Hire us as and when needed</p>
                                    <p>whether for specific tasks, projects, or ongoing support.</p>
                                    <!-- Requires a long-term commitment regardless of workload fluctuations. -->
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
    
                    </div>
                   
                    <!-- CARD 3 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image2.9.jpg" alt="">Expertise on Demand</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image2.9.jpg" alt=""> Expertise on Demand
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Access a team of experienced professionals across diverse financial services, from accounting to business consultancy.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                   

                    <!-- CARD 4 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.0.jpg" alt="">Reduced Administrative Burden</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image3.0.jpg" alt=""> Reduced Administrative Burden
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <!-- Streamlined process with no administrative overhead, allowing you to focus on your core business. -->
                                    <p> Streamlined process with no administrative overhead</p>
                                    <p> Allowing you to focus on your core business</p>
                                    <!-- <p>Additional resources</p> -->
                                    <!-- Requires HR management, benefits administration, and additional resources. -->
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                   

                    <!-- CARD 5 -->


                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image2.9.jpg" alt="">No Hiring Hassles</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image3.1.png" alt=""> No Hiring Hassles
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <!-- Quick and easy engagement without the complexities of hiring. -->
                                    <p> Quick and easy engagement</p>
                                    <p>Without the complexities of hiring</p>
                                    <!-- <p>Onboarding process</p> -->
                                    <!-- Time-consuming recruitment and onboarding process -->
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
    
                    </div>
                  

                    <!-- CARD 6 -->


                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.2.jpg" alt="">Cost-Effective Solutions</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image3.2.jpg" alt=""> Cost-Effective Solutions
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Tailored pricing based on the scope and complexity of services you require.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                    

                    <!-- CARD 7 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.3.png" alt="">Access to a Range of Services</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image3.3.png" alt=""> Access to a Range of Services
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <!-- Comprehensive financial services including accounting, financial management, business analysis, taxation, and software migration. -->
                                    <p>Comprehensive financial services including accounting</p>
                                    <p>Financial management</p>
                                    <p>Business analysis</p>
                                    <p>Taxation</p>
                                    <p>Software migration.</p>
                                    <!-- Limited expertise in a single domain. -->
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                   

                    <!-- CARD 8 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.4.jpg" alt="">Adaptability to Business Changes</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image3.4.jpg" alt=""> Adaptability to Business Changes
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Easily adjust services based on your evolving business requirements.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
    
                    </div>
                    
                    <!-- CARD 9 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.5.jpg" alt="">Quality Assurance</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image3.5.jpg" alt=""> Quality Assurance
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    <p>Benefit from a team of experts</p>
                                    <p> Ensuring consistent quality</p>
                                    <p> Knowledge sharing</p>
                                   
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                   

                    <!-- CARD 10 -->


                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.6.png" alt="">Scalability</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image3.6.png" alt=""> Scalability
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Easily scale up or down based on your business demands without the constraints of permanent staffing.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
                    </div>
                    

                    <!-- CARD 11 -->

                    <div class="card7">
                        <mat-card class="card">
                            <div class="back">
                                <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                <p class="sub-head"> <img class="icon" src="\assets\icon-image\image3.7.png" alt="">Focus on Core Competencies</p>
                            </div>
    
                            <div class="front">
                                <mat-card-title class="back-head">
                                    <h2 class="heading1"><img class="image1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">Wealth Bridge Consultancy</h2>
                                    <img class="icon" src="\assets\icon-image\image3.7.png" alt=""> Focus on Core Competencies
                                </mat-card-title> <br>
                                <mat-card-content class="para">
                                    Let us handle financial tasks while you concentrate on growing your business.
                                </mat-card-content>
                            </div>
                           
                        </mat-card>
    
                    </div>
                   
                    <!-- card 12 -->


                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>