<div class="content">
    <h2 class="heading">
        <div class="title1">
            Why Choose WealthBridge
        </div>
        <div style="padding: 20px;">
            <!-- <img height="40px" width="50px" src="\assets\Screenshot 2023-07-16 001120.png" alt="">  WealthBridge  -->

            <!-- <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
        <lord-icon src="https://cdn.lordicon.com/enzmygww.json" trigger="hover" colors="primary:#121331"
            style="width:50px;height:50px">
        </lord-icon> -->
        </div>
    </h2>
    <!-- <img src="\assets\newimages\image.png" alt=""> -->

    <div class="container-fluid">

        <div class="row">
            <div class="col-4">
                <mat-card class="example-card">
                    <video class="video" src="\assets\video\expertise.mp4" [muted]="'muted'" autoplay muted
                        loop></video>
                    <mat-card-header>
                        <mat-card-title class="title">Expertise</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="para">
                            With over 45 years of combined experience, our team of skilled professionals brings a wealth
                            of knowledge in accounting, finance, and business consulting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-4">
                <mat-card class="example-card">
                    <video class="video" src="\assets\video\focus on solutions.mp4" [muted]="'muted'" autoplay muted
                        loop></video>
                    <mat-card-content>
                        <h1 class="title">Tailored Solutions</h1>
                        <p class="para">
                            We understand that every business is unique. Our services are tailored to meet your specific
                            needs and goals, ensuring the best outcomes for your success.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-4">
                <mat-card class="example-card">
                    <video class="video" src="\assets\video\dedicated to excellence.mp4" [muted]="'muted'" autoplay
                        loop></video>
                    <mat-card-content>
                        <h1 class="title">Client-Centric Approach</h1>
                        <p class="para">
                            Your success is our priority. We work closely with each client, building strong
                            relationships and offering personalized attention to deliver exceptional results.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <!-- 
        <div class="row">
            <div class="col-6">
                <mat-card class="example-card1">
                    <video class="video" src="\assets\video\expertise.mp4" [muted]="'muted'" autoplay muted
                        loop></video>
                    <mat-card-header>
                        <mat-card-title class="title">Expertise</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="para2">
                            With over 45 years of combined experience, our team of skilled professionals brings a wealth
                            of knowledge in accounting, finance, and business consulting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-6">
                <mat-card class="example-card1">
                    <video class="video" src="\assets\video\focus on solutions.mp4" [muted]="'muted'" autoplay muted
                        loop></video>
                    <mat-card-content>
                        <h1 class="title">Tailored Solutions</h1>
                        <p class="para2">
                            We understand that every business is unique. Our services are tailored to meet your specific
                            needs and goals, ensuring the best outcomes for your success.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

        </div> -->

        <!-- <div class="row" id="row2">
            <div class="col-6">
                <mat-card class="example-card1">
                    <video class="video" src="\assets\video\dedicated to excellence.mp4" [muted]="'muted'" autoplay
                        loop></video>
                    <mat-card-content>
                        <h1 class="title">Client-Centric Approach</h1>
                        <p class="para">
                            Your success is our priority. We work closely with each client, building strong
                            relationships and offering personalized attention to deliver exceptional results.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-6">
                <mat-card class="example-card1">
                    <video class="video" src="\assets\video\technology acc-software (1).mp4" [muted]="'muted'" autoplay
                        muted loop></video>
                    <mat-card-content>
                        <h1 class="title">Cutting-Edge Technology</h1>
                        <p class="para">
                            We embrace advanced accounting software and financial tools to streamline processes,
                            providing real-time insights and greater efficiency.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div> -->

        <div class="row" id="row2">

            <!-- CARD 0 -->
            <div class="col-4">
                <mat-card class="example-card">
                    <video class="video" src="\assets\video\data-insight.mp4" [muted]="'muted'" autoplay muted
                        loop></video>
                    <mat-card-content>
                        <h1 class="title">Cutting-Edge Technology</h1>
                        <p class="para">
                            We embrace advanced accounting software and financial tools to streamline processes,
                            providing real-time insights and greater efficiency.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <!--CARD 1-->
            <div class="col-4">
                <mat-card class="example-card">
                    <video class="video" src="\assets\video\dedicated to excellence.mp4" [muted]="'muted'" autoplay
                        muted loop></video>
                    <mat-card-content>
                        <h1 class="title">Transparent Communication</h1>
                        <p class="para">
                            We believe in open and transparent communication. You can rely on us for clear, honest, and
                            timely advice.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD2 -->
            <div class="col-4">
                <mat-card class="example-card">
                    <video class="video" src="\assets\video\consulting.mp4" [muted]="'muted'" autoplay muted
                        loop></video>
                    <mat-card-content>
                        <h1 class="title">Trusted Advisors</h1>
                        <p class="para">
                            Our team goes beyond accounting tasks; we act as your trusted advisors, providing
                            guidance on financial planning, tax compliance, and business strategies.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD 3 -->

           

            <!-- CARD 4 -->

            <div class="row" id="row2">
                <div class="col-4">
                    <mat-card class="example-card">
                        <video class="video" src="\assets\video\technology acc-software (1).mp4" [muted]="'muted'"
                            autoplay muted loop></video>
                        <mat-card-content>
                            <h1 class="title">Commitment to Excellence</h1>
                            <p class="para">
                                Our pursuit of excellence drives us to continually enhance our skills and stay
                                up-to-date with industry trends, ensuring top-notch service delivery.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <!-- CARD 5 -->

                <div class="col-4">
                    <mat-card class="example-card">
                        <video class="video" src="\assets\video\data-insight.mp4" [muted]="'muted'" autoplay muted
                            loop></video>
                        <mat-card-content>
                            <h1 class="title">Business Insights</h1>
                            <p class="para">
                                Beyond numbers, we offer strategic insights and data analysis, helping you make informed
                                decisions that drive growth and profitability.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <!-- CARD 6 -->

                <div class="col-4">
                    <mat-card class="example-card">
                        <video class="video" src="\assets\video\consulting.mp4" [muted]="'muted'" autoplay muted
                            loop></video>
                        <mat-card-content>
                            <h1 class="title">Integrity & Trust</h1>
                            <p class="para">
                                Our business is built on principles of integrity, trust, and ethics. You can count on us
                                for confidentiality and professionalism at all times.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>


        </div>
    </div>

</div>