<div>
    <app-topbar></app-topbar>
</div> <br> <br> <br> <br> <br>

<div class="container-fluid">
    <mat-card class="card1">
        <mat-card-content >
            <!-- <section class="hero1"> -->
                <h1 class="h1">
                    <!-- <img class="image" src="\assets\Screenshot 2023-07-16 001120.png" alt=""> WealthBridge
                    Consulting -->
              
                    <br>
                <!-- <p class="para1"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                        class="bi bi-person-fill-lock" viewBox="0 0 16 16">
                        <path
                            d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z" />
                    </svg>
                    Tax Consultation & Compliance
                </h1> 
                <!-- </p> -->
            <!-- </section> -->
        </mat-card-content>
    </mat-card> 
</div>
<br>

<div class="container-fluid">

    <div class="row">
        <div class="col-7">
            <mat-card>
                <mat-card-title>
                    <h2 class="head">Navigating Tax Matters with Expertise</h2>
                    <img class="image2" src="\assets\newimages\image7.9.png" alt="">
                </mat-card-title>
                <mat-card-content>
                    <p class="para">
                        WealthBridge Consulting offers comprehensive Tax Consultation & Compliance services to
                        businesses in
                        Qatar, helping you navigate the complexities of tax regulations with ease and precision. While
                        we are
                        not licensed to submit tax filings, our expertise in tax matters and audit preparation ensures
                        that your
                        business remains fully compliant while optimizing tax strategies.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col-5">
            <img class="image3" src="\assets\newimages\image8.1.jpg" alt="">
        </div>
    </div>



    <section class="why-choose">
        <h2>Why Choose WealthBridge for Tax Consultation & Compliance?</h2>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1">Tax Advisory Services</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            Our seasoned tax experts provide reliable guidance on tax planning, ensuring that you make
                            well-informed decisions to minimize tax liabilities and maximize savings.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD 2 -->

            <div class="col-4">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1">Compliance Review</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            We meticulously review your financial records to ensure adherence to tax regulations,
                            mitigating the risk of potential penalties and ensuring full compliance.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD 3 -->

            <!-- <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1">Tax Advisory Services</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            Our seasoned tax experts provide reliable guidance on tax planning, ensuring that you make
                            well-informed decisions to minimize tax liabilities and maximize savings.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div> -->

            <!-- CARD 4 -->

            <!-- <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1">Tax Advisory Services</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            Our seasoned tax experts provide reliable guidance on tax planning, ensuring that you make
                            well-informed decisions to minimize tax liabilities and maximize savings.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div> -->

            <div class="col-4">
                <img class="image3" src="\assets\newimages\image8.0.avif" alt="">
            </div>

        </div>
        <br>
        <div class="row">

            <!-- CARD 5 -->

            <!-- <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1">Tax Advisory Services</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            Our seasoned tax experts provide reliable guidance on tax planning, ensuring that you make
                            well-informed decisions to minimize tax liabilities and maximize savings.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div> -->

            <!-- CARD 6 -->
            <!-- 
            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1">Tax Advisory Services</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            Our seasoned tax experts provide reliable guidance on tax planning, ensuring that you make
                            well-informed decisions to minimize tax liabilities and maximize savings.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div> -->

            <div class="col-6">
                <video class="video" src="\assets\video\tax-1.mp4" [muted]="'muted'" autoplay loop></video>

            </div>

            <!-- CARD 7 -->

            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1"> Audit Preparation</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            Prepare for the audit season with confidence. Our team assists in organizing and compiling
                            the necessary documents and reports for a smooth and successful audit process.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD 8 -->

            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1">Customized Solutions</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            Every business has unique tax requirements. We tailor our solutions to match your specific
                            needs, optimizing tax strategies to suit your business goals.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

        </div> <br>

        <div class="row">

            <!-- CARD 9 -->

            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1">Understanding Local Laws</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            With in-depth knowledge of Qatar's tax laws and regulations, we ensure that your business is
                            aligned with the latest tax guidelines and requirements.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD 10 -->

            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1"> Peace of Mind</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            With WealthBridge's expert consultation, you can focus on running your business while
                            leaving tax complexities to us, providing you peace of mind and clarity.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD 11 -->
            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1"> Professional Integrity</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            We maintain the highest standards of ethical practices, ensuring complete transparency in
                            all tax-related matters.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD 12 -->

            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1"> Trusted Advisor</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            Our experienced team becomes your trusted tax advisor, offering ongoing support and valuable
                            insights to help your business thrive.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>


        </div> <br>
        <!-- CARD 13 -->

        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1"> Streamlined Tax Process</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            Save time and resources with our efficient tax solutions, streamlining the tax process for
                            seamless operations.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD 14 -->

            <div class="col-3">
                <mat-card class="card">
                    <mat-card-title>
                        <h2 class="head1"> Complementary to Auditing Firms</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="para1">
                            We collaborate seamlessly with licensed auditing companies, ensuring a holistic approach to
                            your financial management and compliance needs.

                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- CARD 15 -->

           
            <!-- CARD 16 -->

            
        </div>
    </div>



    <div class="row">
        <div class="col-7">
            <section class="conclusion">
                <h2>Empower Your Business with Tax Excellence</h2>
                <img class="image1" src="\assets\icon-image\image2.1.png" alt="">
                <p>Navigate the intricate tax landscape with confidence, secure in the knowledge that your tax matters
                    are
                    handled by experts.</p>
            </section>
        </div>
    </div>

    <!-- <section class="contact">
        <h2>Empower Your Business with Tax Excellence</h2>
        <p>Navigate the intricate tax landscape with confidence, secure in the knowledge that your tax matters are
            handled by experts.</p>
        <button>Contact Us</button>
    </section> -->

    <app-fin></app-fin>
</div>