<!-- <section class="content"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- <img src="\assets\newimages\counter-background.png" alt=""> -->
                <div class="background-image"></div> 
                
                <!-- <img src="\assets\newimages\1.png" alt="" height="68px" width= "79px" class="img-fluid counter-img"> -->
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <div class="foreground-image"><h2 class="count">10+</h2><h4 class="name">Countries</h4></div>
                    <!-- <h2>10+</h2> -->
                    <!-- <h2 class="count">Countries</h2> -->
                </div>
            </div>
            <div class="col-3">
                <div class="foreground-image2"><h2 class="count">30+</h2><h4 class="name">Happy Clients</h4></div>
                <!-- <h2>30+</h2> -->
            </div>
                <div class="foreground-image3"><h2 class="count">50+</h2><h4 class="name">Successful Projects</h4></div>
                <div class="foreground-image4"><h2 class="count">6+</h2><h4 class="name">Innovative Products</h4></div>
        </div>
    </div>
<!-- </section> -->
