<!-- <app-wecodee-nav></app-wecodee-nav> -->
<div class="container-fluid">

<div class="row">
    <div id="bg1">
        <h1 style="font-weight:1000 ; font-size: 30px; text-align: center; padding: 15px;">Reach Us!</h1>
    </div>
    <div class="col-lg-6 col-md-10 col-sm-12" id="bg1">
        <h2 class="text-capitalize text-center" id="hd1">Thanks for your interest in WealthBridge!</h2>

        <h2 class="text-capitalize text-center" id="hd1">We're here
            <lord-icon src="https://cdn.lordicon.com/zzcjjxew.json" trigger="loop" delay="2000"
                colors="primary:#121331,secondary:#08a88a" style="width:50px;height:50px">
            </lord-icon>
            &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>
        </h2> <br>

        <div class="row">
            <div class="col-lg-6 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Global Head Quarters.</h5>
                        <p class="card-text"> B5-812A2,
                            Academic Zone
                            01- Business Center 5,
                            RAKEZ Business Zone - FZ RAK,
                            United Arab Emirates,
                            P.O BoxNo.10055.
                        </p> <br>
                        <p class="text-capitalize text-center" id="heading">UAE</p>
                        <img src="\assets\contact\DUBAI.png" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Our Office In India.</h5>
                        <!-- <h6 class="card-title">Bangalore.</h6> -->
                        <p class="card-text">221, 2nd Floor, 7th Main Rd, II Block, HRBR Layout, Kalyan Nagar,
                            Bengaluru, Karnataka 560043.
                        </p>
                        <img src="\assets\contact\bangalore.jpg" class="img-fluid"> <br> <br>
                        <p class="p"> Hello all ........................................ </p> <br>
                        <p class="p">///////////</p>
                    </div>
                </div>
            </div>
        </div> <br><br>
        <!--Row-->
    </div>

    <div class="col-lg-6 col-md-10 col-sm-12" id="bg1">
        <h2 class="text-capitalize text-center" id="hd1">Let's Talk.</h2> <br>

        <ul class="list">
            <li>
                <h1>Share your excitement with us!.</h1>
            </li>
            <li><a class="text-capitalize text-center" href="mailto:team@wecodee.com">
                    <lord-icon src="https://cdn.lordicon.com/rhvddzym.json" trigger="loop" delay="4000"
                        style="width:50px;height:50px">
                    </lord-icon>
                    team@wecodee.com
                </a></li>
            <li>
                <lord-icon src="https://cdn.lordicon.com/cnbtojmk.json" trigger="loop" delay="4000"
                    style="width:50px;height:50px">
                </lord-icon>
                Ph - +971 503391308. (UAE) , +91 81473 87273 (INDIA)
            </li>
        </ul>

        <div class="row">
            <div class="col-lg-6 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Product Query</h5>
                        <lord-icon src="https://cdn.lordicon.com/puvaffet.json" trigger="loop" delay="2000"
                            style="width:80px;height:50px">
                        </lord-icon>
                        <p class="card-text">Customers who are using any of our products, get in touch with our
                            dedicated
                            product advisors.</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Customer Support
                        </h5>
                        <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" trigger="loop" delay="2000"
                            style="width:80px;height:50px">
                        </lord-icon>
                        <p class="card-text">Serving our clients solving problems and enhancing human experiences
                            motivate everything.</p>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>
</div>
<!-- <app-wecodee-footer></app-wecodee-footer> -->

<!-- <div class="container-fluid" style="background-color: #ffb404d5;">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/wecodee/brand/oracle partner logo.webp" height="100px" width="410px">
        </div>
        <div class="col-md-6"></div>
    </div>
</div> -->