<app-topbar></app-topbar>
<div class="container-fluid">
    <div class="row">
        <mat-card class="card">
            <mat-card-content>
                <div class="header">
                    <h1 class="heading">
                        <!-- <img src="\assets\Screenshot 2023-07-16 001120.png" alt="">
                        WealthBridge
                        Consultancy -->
                    </h1>
                    <p class="heading1"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                            fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5ZM9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8Zm1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Zm-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5ZM7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z" />
                        </svg> Flexible Accounting Service</p>
                </div>

            </mat-card-content>
        </mat-card>

    </div> <br>

    <div class="row">
        <div class="col-6">

            <mat-card class="example-card1">
                <mat-card-header>
                    <mat-card-title> <p class="head">Accounting for Hire - Tailored Financial Support for Your Business</p> </mat-card-title>
                </mat-card-header>

                <mat-card-content> <p class="para">At WealthBridge, we understand that every business has unique accounting requirements.
                    That's why we offer flexible and customizable "Accounting for Hire" services to cater to your
                    specific needs. Whether you need occasional assistance, regular weekly updates, or comprehensive
                    monthly support, we have the perfect solution for you</p> </mat-card-content>

            </mat-card>

        </div>

        <div class="col-6">
            <img class="image" src="\assets\service-pages-image\image1.1.avif">

        </div>

    </div>

    <div class="row">

        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Accounting for Hire - Hourly Accounting</mat-card-title>
                </mat-card-header>
                <img class="icon-image" src="\assets\service-pages-image\deposit_7251999.png" alt="">
                <mat-card-content class="para">Need assistance with specific accounting tasks or facing a financial
                    challenge? Our
                    skilled accountants are available on an hourly basis to address your immediate needs. Get expert
                    help whenever you require it without the commitment of a full-time accountant.</mat-card-content>
            </mat-card>
        </div>

        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Accounting for Hire - Weekly Accounting Updates</mat-card-title>
                </mat-card-header>
                <img class="icon-image" src="\assets\service-pages-image\accounting_1570887.png" alt="">
                <mat-card-content class="para">Stay informed about your financials with our weekly accounting updates.
                    Our team will meticulously manage your accounts, providing you with clear and concise reports on a
                    weekly basis. This service keeps you updated on your business's financial health and empowers you to
                    make timely decisions.</mat-card-content>
            </mat-card>
        </div>

        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Accounting for Hire - Monthly Accounting Support</mat-card-title>
                </mat-card-header>
                <img class="icon-image" src="\assets\service-pages-image\budgeting_2349119.png" alt="">
                <mat-card-content class="para">For comprehensive financial management, our monthly accounting support
                    offers a holistic approach. We meticulously handle all your accounting needs, including bookkeeping,
                    financial analysis, and tax preparation. Our team will deliver detailed monthly reports, giving you
                    a comprehensive overview of your business's performance.</mat-card-content>
            </mat-card>
        </div>
    </div>


    <header>
        <h1>Why Choose Accounting for Hire with WealthBridge?</h1>
    </header>

    <section class="benefits">
        <div class="benefit">
            <h2> <img class="icon" src="\assets\icon-image\image1.5.png" alt=""> Cost-Effective</h2>
            <p class="para">No need to bear the expenses of a full-time accountant. Pay only for the services you require, saving you
                money and resources.</p>
        </div>
        <div class="benefit">
            <h2> <img class="icon" src="\assets\icon-image\image1.6.jpg" alt=""> Flexibility</h2>
            <p class="para">Tailor our services according to your business's changing needs, ensuring you get the support when you
                need it the most.</p>
        </div>
        <div class="benefit">
            <h2><img class="icon" src="\assets\icon-image\image1.7.png" alt="">Expertise</h2>
            <p class="para">Our team of skilled accountants and financial experts brings a wealth of knowledge and experience to
                manage your accounts efficiently.</p>
        </div>
        <div class="benefit">
            <h2> <img class="icon" src="\assets\icon-image\image1.8.jpg" alt=""> Timely and Accurate</h2>
            <p class="para">We ensure timely completion of tasks and accurate financial reporting, helping you maintain compliance
                and make informed decisions.</p>
        </div>
        <div class="benefit">
            <h2> <img class="icon" src="\assets\icon-image\image1.9.png" alt=""> Focus on Growth</h2>
            <p class="para">Outsourcing accounting allows you to focus on core business activities, driving growth and maximizing
                your business potential.</p>
        </div>
        <div class="benefit">
            <h2> <img class="icon" src="\assets\icon-image\image2.0.png" alt=""> Comprehensive Solutions</h2>
            <p class="para">Beyond bookkeeping, we offer a suite of financial services, including business consultancy and strategic
                planning, to support your growth journey.</p>
        </div>
    </section>



    <div class="row">
        <div class="col-7">
            <section class="conclusion">
                <h2>With WealthBridge's "Accounting for Hire" services,</h2>
                <img class="image1" src="\assets\icon-image\image2.1.png" alt="">
                <p>you gain a dedicated team of financial experts focused on your business's success. Let us handle your
                    accounting needs while you concentrate on achieving your business goals.</p>
            </section>
        </div>

        <div class="col-5">
            <img class="image" src="\assets\icon-image\image2.2.png" alt="">
        </div>
    </div>
</div>
<br> <br>
<app-footer></app-footer>
<app-fin></app-fin>