// .faded-content{
//     height: 500px;
// }
.background-image {
    // position: static;
    // top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/image3.webp');
    background-size: cover; /* Adjust as needed, e.g., 'contain' */
  }
//   #carouselExampleAutoplaying{
//     top: 100px;
//     position: static;
//   }
//   .video {
//     background-clip:;
//   }