.container-fluid{
  // height: 600px;
  padding: 50px;
  background-color: white;
}


.background-image {
  position: absolute;
  // top: 0;
  // left: 0;
  width: 300px;
  height: 300px;
  background-image: url('/assets/newimages/wecodee-abs-img.png');
  background-size: cover; /* Adjust as needed, e.g., 'contain' */
}

.foreground-image {
  position: absolute;
  // top: 50px; /* Adjust the positioning of the foreground image */
  // left: 50%; /* Adjust the positioning of the foreground image */
  width: 200px; /* Set the width of the foreground image */
  height: 300px; /* Set the height of the foreground image */
  background-image: url('/assets/newimages/image.png');
  background-size: cover; /* Adjust as needed, e.g., 'contain' */
}

.header-content{
  color: #004D71;
  font-size: 31px;
  // text-align: center;
}

.sub-heading{
  margin-top: 20px;
  padding: 10px;
  font-weight: bolder;
  font-size: 16px;
}

.content{
  color: #090908;
  padding: 20px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  text-align:left;
  font-weight:lighter;
}

// css for plus

.plus-container {
  position: absolute;
  top: 15%;
  left: 5%;
  animation: star 1s infinite;
  &.plus-container2 {
    top: 25%;
    left: 25%;
  }
  &.plus-container3 {
    top: 50%;
    left: 2%;
  }
  &.plus-container4 {
    top: 65%;
    left: 32%;
  }
  &.plus-container5 {
    top: 80%;
    left: 10%;
  }
  &.plus-container6 {
    top: 80%;
    left: 65%;
  }
  &.plus-container7 {
    top: 80%;
    left: 35%;
  }
  &.plus-container8 {
    top: 40%;
    left: 98%;
  }
  &.plus-container9 {
    top: 45%;
    left: 70%;
  }
  &.plus-container10 {
    top: 0;
    left: 8%;
  }
  &.plus-container11 {
    top: 70%;
    left: 4%;
  }
  .plus {
    position: relative;
    &:before, &:after {
      content: '';
      position: absolute;
      border-radius: 2px;
      // color: $primary;
      // color: #004D71;
      color: #ffe084;
    }
    &:before {
      border-left: 6px solid;
      height: 19px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:after {
      border-top: 6px solid;
      width: 19px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.white {
      &:before, &:after {
        color: white;
      }
    }
    &.plus-medium {
      &:after {
        width: 16px;
        border-top: 5px solid;
      }
      &:before {
        height: 16px;
        border-left: 5px solid;
      }
    }
    &.plus-small {
      &:after {
        width: 9px;
        border-top: 3px solid;
      }
      &:before {
        height: 9px;
        border-left: 3px solid;
      }
    }
  }
}

@keyframes star {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}