<div class="container-fluid">
    <!-- <img src="\assets\image10.jpg" alt=""> -->
    <div class="background">
    <h1 class="heading">Full Time vs  WealthBridge</h1>
</div>
    <div class="row">
        <div class="col-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="title">Why Choose Wealth Bridge</mat-card-title>
                </mat-card-header>
                <!-- <img class="image" mat-card-image src="assets\image8.avif"> -->
                <mat-card-content>
                    <p class="para">
                        Certainly, here's a comparison of why WealthBridge Consulting is a better choice than hiring a
                        full-time accountant
                    </p>
                </mat-card-content>    
            </mat-card>
        </div>
    </div>

    <div class="row">
        
        <div class="col-5">
            <mat-card class="heading-card">
                <img class="image1" src="\assets\image11.avif" alt="">
                <mat-card-content class="title"> <h1> Full Time Accountant</h1></mat-card-content>

                 <!-- CARD 1 -->

                 <mat-card class="content-card">
                    <mat-card-title class="heading1">1. Cost Efficient</mat-card-title>
                    <mat-card-content class="para1">
                        Requires salary, accommodation, travel allowance, yearly leave, and additional benefits.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 2 -->

                <mat-card class="content-card">
                    <mat-card-title class="heading1">2. Flexible Engagement</mat-card-title>
                    <mat-card-content class="para1">
                        Requires a long-term commitment regardless of workload fluctuations.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 3 -->

                <mat-card class="content-card" style="height: 195px;">
                    <mat-card-title class="heading1">3. Expertise on Demand</mat-card-title>
                    <mat-card-content class="para1">
                        Limited expertise in a single domain.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 4 -->

                <mat-card class="content-card" style="height: 195px;">
                    <mat-card-title class="heading1">4. Reduced Administrative Burden</mat-card-title>
                    <mat-card-content class="para1">
                        Requires HR management, benefits administration, and additional resources.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 5 -->

                <mat-card class="content-card" style="height: 195px;">
                    <mat-card-title class="heading1">5. No Hiring Hassles</mat-card-title>
                    <mat-card-content class="para1">
                        Time-consuming recruitment and onboarding process.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 6 -->

                <mat-card class="content-card" style="height: 195px;">
                    <mat-card-title class="heading1">6. Cost-Effective Solutions</mat-card-title>
                    <mat-card-content class="para1">
                        Fixed cost regardless of workload or specific tasks.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 7 -->

                <mat-card class="content-card" style="height: 195px;">
                    <mat-card-title class="heading1">7. Access to a Range of Services</mat-card-title>
                    <mat-card-content class="para1">
                        Limited to accounting tasks.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 8 -->

                <mat-card class="content-card" style="height: 195px;">
                    <mat-card-title class="heading1">8. Adaptability to Business Changes</mat-card-title>
                    <mat-card-content class="para1">
                        May lack the flexibility to adapt to changing business needs.
                    </mat-card-content>
                </mat-card> 
                
                <!-- CARD 9 -->

                
                <mat-card class="content-card" style="height: 195px;">
                    <mat-card-title class="heading1">9. Quality Assurance</mat-card-title>
                    <mat-card-content class="para1">
                        Individual performance may vary.
                    </mat-card-content>
                </mat-card> 

                <!-- CARD 10 -->

                <mat-card class="content-card" style="height: 195px;">
                    <mat-card-title class="heading1">10. Scalability</mat-card-title>
                    <mat-card-content class="para1">
                        Limited scalability without hiring additional staff.
                    </mat-card-content>
                </mat-card> 

                <!-- CARD 11 -->

                <mat-card class="content-card" style="height: 195px;">
                    <mat-card-title class="heading1">11. Focus on Core Competencies</mat-card-title>
                    <mat-card-content class="para1">
                        Diverts your attention from core business functions.
                    </mat-card-content>
                </mat-card> 
              

            </mat-card>
        </div>


        <div class="col-2">
            <div class="icon">
                <mat-card class="icon-card">
                    <mat-card-content>
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/xxwwxrom.json"
                            trigger="loop"
                            colors="primary:#121331"
                            style="width:120px;height:80px">
                        </lord-icon>
                    </mat-card-content>
                </mat-card> <br> <br> <br> <br>

                <mat-card class="icon-card">
                    <mat-card-content>
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/nkrqhzkh.json"
                                trigger="loop"
                                colors="primary:#121331"
                                style="width:120px;height:80px">
                            </lord-icon>
                    </mat-card-content>
                </mat-card> <br> <br> <br> <br>

                <mat-card class="icon-card">
                    <mat-card-content>
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/jaxtxypu.json"
                                    trigger="hover"
                                    colors="primary:#121331"
                                    style="width:120px;height:80px">
                                </lord-icon>
                    </mat-card-content>
                </mat-card> <br> <br> <br> <br>

                <mat-card class="icon-card">
                    <mat-card-content>
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/qvbrkejx.json"
                                    colors="primary:#121331"
                                    style="width:120px;height:80px">
                                </lord-icon>
                    </mat-card-content>
                </mat-card>
                
            </div>

        </div>

        <div class="col-5">
            <mat-card class="heading-card">
                <img class="image" mat-card-image src="\assets\Screenshot 2023-07-16 001120.png">
                <mat-card-content class="title"> <h1> WealthBridge Consultant</h1></mat-card-content>

                <!-- CARD 1 -->

                <mat-card class="content-card">
                    <mat-card-title class="heading1">1. Cost Efficient</mat-card-title>
                    <mat-card-content class="para1">
                        Pay only for the services you need, eliminating the need for extensive benefits and allowances.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 2 -->

                <mat-card class="content-card">
                    <mat-card-title class="heading1">2. Flexible Engagement</mat-card-title>
                    <mat-card-content class="para1">
                        Hire us as and when needed, whether for specific tasks, projects, or ongoing support.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 3 -->

                <mat-card class="content-card">
                    <mat-card-title class="heading1">3. Expertise on Demand</mat-card-title>
                    <mat-card-content class="para1">
                        Access a team of experienced professionals across diverse financial services, from accounting to business consultancy.
                    </mat-card-content>
                </mat-card>

                <!-- CARD 4 -->

                <mat-card class="content-card">
                <mat-card-title class="heading1">4. Reduced Administrative Burden</mat-card-title>
                <mat-card-content class="para1">
                    Streamlined process with no administrative overhead, allowing you to focus on your core business.
                </mat-card-content>
            </mat-card>

            <!-- CARD 5 -->

            <mat-card class="content-card" style="height: 195px;">
                <mat-card-title class="heading1">5.  No Hiring Hassles</mat-card-title>
                <mat-card-content class="para1">
                    Quick and easy engagement without the complexities of hiring.
                </mat-card-content>
            </mat-card>

            <!-- CARD 6 -->

            <mat-card class="content-card" style="height: 195px;">
                <mat-card-title class="heading1">6. Cost-Effective Solutions</mat-card-title>
                <mat-card-content class="para1">
                    Tailored pricing based on the scope and complexity of services you require.
                </mat-card-content>
            </mat-card>

            <!-- CARD 7 -->

            <mat-card class="content-card" style="height: 195px;">
                <mat-card-title class="heading1">7. Access to a Range of Services</mat-card-title>
                <mat-card-content class="para1">
                    Comprehensive financial services including accounting, financial management, business analysis, taxation, and software migration.
                </mat-card-content>
            </mat-card>

            <!-- CARD 8 -->

            <mat-card class="content-card" style="height: 195px;">
                <mat-card-title class="heading1">8. Adaptability to Business Changes</mat-card-title>
                <mat-card-content class="para1">
                    Easily adjust services based on your evolving business requirements.
                </mat-card-content>
            </mat-card>


            <!-- CARD 9 -->

            <mat-card class="content-card" style="height: 195px;">
                <mat-card-title class="heading1">9. Quality Assurance</mat-card-title>
                <mat-card-content class="para1">
                    Benefit from a team of experts, ensuring consistent quality and knowledge sharing.
                </mat-card-content>
            </mat-card>  
            
            <!-- CARD 10 -->

            <mat-card class="content-card" style="height: 195px;">
                <mat-card-title class="heading1">10. Scalability</mat-card-title>
                <mat-card-content class="para1">
                    Easily scale up or down based on your business demands without the constraints of permanent staffing.
                </mat-card-content>
            </mat-card>
            
            <!-- CARD 11 -->

            <mat-card class="content-card" style="height: 195px;">
                <mat-card-title class="heading1">11. Focus on Core Competencies</mat-card-title>
                <mat-card-content class="para1">
                    Let us handle financial tasks while you concentrate on growing your business.
                </mat-card-content>
            </mat-card>   
            
       
              

            </mat-card>              
        </div>

       
    </div>
</div>