/* Style for the scroll-to-top button */
.scroll-to-top {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    padding: 10px 20px;
    // background-color: #3498db;
    // color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .image {
    height: 50px;
  }