<div>
    <app-topbar></app-topbar>
</div>

<div class="container-fluid">
    <div class="row">
        <mat-card class="card1">
            <mat-card-content>
                <div class="header1">
                    <h1 class="heading">
                        <!-- <img class="icon1" src="\assets\Screenshot 2023-07-16 001120.png" alt="">
                        WealthBridge
                        Consultancy -->
                    </h1>
                    <p class="heading1"> <img class="icon" src="\assets\icon-image\image4.0.png" alt=""> Financial
                        Management & Consultancy</p>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <mat-card class="card2">
                        <mat-card-title>
                            <h2> <img class="icon2" src="\assets\icon-image\image5.2.png" alt=""> Empowering Your
                                Business Growth</h2>
                        </mat-card-title> <br>
                        <mat-card-content>
                            <p class="para">
                                At WealthBridge, we are dedicated to elevating your business to new
                                heights through our expert Financial Management & Consultancy
                                services. Our tailored solutions are designed to cater to the unique
                                needs of businesses in Qatar, ensuring they achieve financial
                                stability and prosperity.
                            </p>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div class="col-3">
                    <img class="image" src="\assets\newimages\image4.1.avif" alt="">
                </div>
            </div>


        </div>
    </section>



    <div class="container1">
        <div class="row">
            <!-- <div class="col-1">

            </div> -->
            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p><img class="icon4" src="\assets\icon-image\image4.3.png" alt="">Strategic Planning</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        
                        <h3><img class="icon4" src="\assets\icon-image\image4.3.png" alt="">Strategic Planning</h3> 

                          Our seasoned financial consultants work closely with you to develop
                            comprehensive
                            strategies that align with your business goals. From short-term tactics to long-term vision, we
                            provide
                            a roadmap for sustainable growth.
                       
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p> <img class="icon4" src="\assets\icon-image\image4.6.png" alt="">Risk Assessment & Mitigation</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        <h3> <img class="icon4" src="\assets\icon-image\image4.6.png" alt="">Risk Assessment & Mitigation</h3>
                       We identify potential risks and opportunities in your financial
                        landscape, offering proactive solutions to minimize risks and maximize profitability.
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p> <img class="icon4" src="\assets\icon-image\image5.5.png" alt=""> Cash Flow Optimization</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        <h3><img class="icon4" src="\assets\icon-image\image5.5.png" alt="">Cash Flow Optimization</h3>
                         Our experts analyze your cash flow patterns and develop strategies to
                        optimize liquidity,
                        ensuring your business remains financially resilient
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p><img class="icon4" src="\assets\icon-image\image1.5.png" alt="">Cost Efficiency</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        <h3><img class="icon4" src="\assets\icon-image\image1.5.png" alt="">Cost Efficiency</h3>
                         We assist in cost analysis and expense reduction, enhancing your operational
                        efficiency and maximizing profitability.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p> <img class="icon4" src="\assets\icon-image\image5.6.png" alt=""> Financial Reporting & Analysis</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        <h3><img class="icon4" src="\assets\icon-image\image5.6.png" alt="">Financial Reporting & Analysis</h3>
                        Accurate financial reporting and insightful analysis provide
                        you with a clear understanding of your business's performance, enabling informed
                        decision-making.
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p> <img class="icon4" src="\assets\icon-image\image5.7.png" alt=""> Taxation & Compliance</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        <h3><img class="icon4" src="\assets\icon-image\image5.7.png" alt="">Taxation & Compliance</h3>
                         Stay compliant with Qatari tax regulations with our expert guidance,
                        minimizing tax burdens while adhering to legal requirements.
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p> <img class="icon4" src="\assets\icon-image\image5.8.png" alt=""> Business Expansion Support</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        <h3><img class="icon4" src="\assets\icon-image\image5.8.png" alt="">Business Expansion Support</h3>
                        Our consultancy services are tailored to support your business
                        expansion plans, ensuring a smooth and successful journey into new markets.
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p> <img class="icon4" src="\assets\icon-image\image5.9.png" alt=""> Trustworthy Advice</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        <h3><img class="icon4" src="\assets\icon-image\image5.9.png" alt="">Trustworthy Advice</h3>
                         As a reputable financial consultancy firm, we prioritize integrity,
                        transparency, and client-centric solutions, earning your trust through our reliable advice.
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-3">

            </div>

            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p> <img class="icon4" src="\assets\icon-image\image6.0.png" alt=""> Personalized Approach</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        <h3><img class="icon4" src="\assets\icon-image\image6.0.png" alt="">Personalized Approach</h3>
                        Every business is unique. We take the time to understand your specific
                        needs and deliver personalized solutions that address your challenges effectively.
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="front">
                        <h2><img class="icon3" src="\assets\Screenshot 2023-07-16 001120.png" alt="">WealthBridge</h2>
                        <p> <img class="icon4" src="\assets\icon-image\image6.1.png" alt=""> Local Market Expertise</p>
                    </div>
                    <div class="back">
                        <!-- Content for the card -->
                        <!-- You can use multiple cards like this -->
                        <h3><img class="icon4" src="\assets\icon-image\image6.1.png" alt="">Local Market Expertise</h3>
                         With an in-depth understanding of the Middle Eastern market,
                        especially Qatar, we provide valuable insights that resonate with the local business
                        environment.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="session">


    <div class="row">
        <!-- <div class="col-1">

        </div> -->
        <div class="col-8">
            <mat-card style="margin-left: 30px;">
                <mat-card-title>
                   <h2> <img class="icon" src="\assets\icon-image\image5.3.png" alt=""> Unlock Your Business's Full Potential</h2> 
                </mat-card-title>
                <mat-card-content>
                    <p>Partner with WealthBridge for a brighter financial future. Contact us today to discover how our
                        expertise can fuel your growth journey.</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-3">
            <img style="margin-left: 10px; height: 180px; width: 300px;" src="\assets\newimages\image5.4.avif" alt="">
        </div>
    </div>

    </div>

</div>
<app-footer></app-footer>
<app-fin></app-fin>



<!-- Add more sections (e.g., contact, footer) as needed -->
<!-- </div> -->