<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-6">
            <!-- <p>Bookkeeping | Taxes | Catch Up</p> -->

              <!-- first slide -->

              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="3000">
                    <!-- <img src="\assets\businesspeople-meeting-plan-analysis-graph-company-finance-strat.jpg" class="d-block w-100" alt="..." style="width: 100%; height:480px;"> -->
                    <img  src="\assets\newimages\slider32.jpg" alt="" style="width: 100%; height: 480px;">


                    <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title class="header-content">Offering exceptional business services.</mat-card-title>
                        <mat-card-subtitle class="sub-heading">"Leave Your back office to us and focus on your business".</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p class="content">Get a dedicated team of experts who know the complexities of your business, your industry, and how to help you save on taxes—all while keeping your books organized and on-time.</p>
                      </mat-card-content>
                    </mat-card>

                    

                    <!-- <div class="bottom-left">Offering exceptional business services.</div>
                    <div class="bottom-left1">Leave Your back office to us and focus on your business.</div> -->
                  </div>

                  <!-- Second slide-->
                  <div class="carousel-item" data-bs-interval="3000">
                    <div class="image-container">
                      <!-- <img class="background-image" src="\assets\newimages\slider31.jpg" class="d-block w-100" alt="..." style="width: 50%; height:480px;">
                      <img class="foreground-image" src="\assets\newimages\img.png" alt=""> -->
                      <div class="background-image"></div>
                      <div class="foreground-image"></div>
                    </div>

                    <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title class="header-content">We handle your books so you can get on with your business.</mat-card-title>
                        <mat-card-subtitle class="sub-heading">"Start a Conversation with our experts".</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p class="content">Get a dedicated team of experts who know the complexities of your business, your industry, 
                          and how to help you save on taxes—all while keeping your books organized and on-time.</p>
                        <p>Start a conversation with our experts today.</p>
                      </mat-card-content>
                    </mat-card>
                  </div>

                    <!-- </div> -->
                 
                    
                  
                    <!-- <div class="bottom-left2">Each business has different needs that should be addressed </div>
                    <div class="bottom-left3">Start a conversation with our experts today.</div> -->
                  <!-- </div> -->


                  <!--Third Slide-->
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="\assets\newimages\slider34.jpg" class="d-block w-100" alt="..." style="width: 100%; height:480px;">
                    
                    <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title class="header-content">We do Taxes. And we do them well.</mat-card-title>
                        <mat-card-subtitle class="sub-heading">"We take the stree out of Tax season".</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p class="content">Get a dedicated team of experts who know the complexities of your business, your industry, 
                          and how to help you save on taxes—all while keeping your books organized and on-time.</p>
                        <p>Start a conversation with our experts today.</p>
                      </mat-card-content>
                    </mat-card>


                    <!-- <div class="bottom-left">We do Taxes. And we do them well.</div>
                    <div class="bottom-left1">We take the stree out of Tax season.</div> -->
                  </div>
                </div>


                
              <div class="plus-container plus-container6">
                <div class="plus white">
                </div>
            </div>
            <div class="plus-container plus-container7">
                <div class="plus white">
                </div>
            </div>
            <div class="plus-container plus-container8">
                <div class="plus white">
                </div>
            </div>
            <div class="circle-container">
                <div class="gradient-circle-big">
                </div>
            </div>
            <div class="circle-container small">
                <div class="gradient-circle-small">
                </div>
            </div>
        
        <div class="plus-container">
            <div class="plus">
            </div>
        </div>
        <div class="plus-container plus-container2">
            <div class="plus plus-medium">
            </div>
        </div>
        <div class="plus-container plus-container3">
            <div class="plus plus-small">
            </div>
        </div>
        <div class="plus-container plus-container4">
            <div class="plus plus-small">
            </div>
        </div>
        <div class="plus-container plus-container5">
            <div class="plus plus-medium">
            </div>
        </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="40" left="7" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="8 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                  </svg>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="40" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                  </svg>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>





        </div>
    </div>
</div>