<div class="container-fluid">
    <div class="row">
        <p class="heading">Full Time Accountant vs WealthBridge consultant</p>
        <!-- <div class="col-2">

        </div> -->
        <div class="col-6">
            <mat-card class="example-card">
                <mat-card-content>
                    <video class="video" src="\assets\video\pros and cons.mp4" [muted]="'muted'" autoplay loop></video>
                    <!-- <img class="image"  src="\assets\newimages\Bookkeeping-vs-Accounting-2.jpg" alt=""> -->
                    <!-- <h3 class="para">Certainly, here's a comparison of why WealthBridge Consulting is a better choice than hiring a full-time
                        accountant</h3> -->
                </mat-card-content>
            </mat-card>
        </div>

        <!-- <div class="col-2">
            <img class="image1" src="\assets\newimages\here-image.avif" alt="">
        </div> -->

        <div class="col-6">
            <mat-card class="example-card2">
                <mat-card-content>
           
            <h1 class="heading1">
                Why Wealth Bridge Consultancy</h1> 
                <div class="row">
                    <div class="col-6">
                        <img class="image1"  src="\assets\newimages\here-image.avif" alt="">
                    </div>
                    <div class="col-6">
                        <h3 class="para">Certainly, here's a comparison of why WealthBridge Consulting is a better choice
                            than hiring a full-time
                            accountant</h3>
                    </div>
                </div>
                <div class="image-container">
                   
                  </div>
               <div class="content">
                
               </div>
                    
                </mat-card-content>
            </mat-card>
        </div>

    </div> <br> <br>

    <div class="row">
        <h1 class="heading1">1. Cost Efficiency</h1>

        <div class="col-4">
            <video class="video1" src="\assets\video\cost-effective.mp4" [muted]="'muted'" autoplay loop></video>
        </div>
        <div class="col-8">
            <mat-card class="example-card1">

                <div class="row">
                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">Full-Time Accountant</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="para1">
                                Requires salary, accommodation, travel allowance, yearly leave, and
                                additional benefits.
                            </p>
                        </mat-card-content>
                    </div>

                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">WealthBridge Consulting</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p class="para1">
                                Pay only for the services you need, eliminating the need for extensive benefits and
                                allowances.
                            </p>
                        </mat-card-content>
                    </div>
                </div>


            </mat-card>

        </div>
    </div>

    <div class="row">
        <h1 class="heading1">2. Flexible Engagement</h1>


        <div class="col-4">
            <video class="video1" src="\assets\video\flexible engagement.mp4" [muted]="'muted'" autoplay loop></video>
        </div>
        <div class="col-8">
            <mat-card class="example-card1">

                <div class="row">
                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">Full-Time Accountant</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="para1">
                                Requires a long-term commitment regardless of workload fluctuations.
                            </p>
                        </mat-card-content>
                    </div>

                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">WealthBridge Consulting</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p class="para1">
                                Hire us as and when needed, whether for specific tasks, projects, or ongoing support.
                            </p>
                        </mat-card-content>
                    </div>
                </div>


            </mat-card>
        </div>

    </div>

    <div class="row">
        <h1 class="heading1">3. Expertise on Demand</h1>
        <div class="col-4">
            <video class="video1" src="\assets\video\expertise (2).mp4" [muted]="'muted'" autoplay loop></video>
        </div>

        <div class="col-8">
            <mat-card class="example-card1">

                <div class="row">
                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">Full-Time Accountant</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="para1">
                                Limited expertise in a single domain
                            </p>
                        </mat-card-content>
                    </div>

                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">WealthBridge Consulting</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p class="para1">
                                Access a team of experienced professionals across diverse financial services, from
                                accounting to business consultancy.
                            </p>
                        </mat-card-content>
                    </div>
                </div>


            </mat-card>
        </div>
    </div>

    <div class="row">
        <h1 class="heading1">4.Reduced Administrative Burden</h1>
        <div class="col-4">
            <video class="video1" src="\assets\video\adminstrative burden.mp4" [muted]="'muted'" autoplay loop></video>
        </div>
        <div class="col-8">
            <mat-card class="example-card1">

                <div class="row">
                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">Full-Time Accountant</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="para1">
                                Requires HR management, benefits administration, and additional resources.
                            </p>
                        </mat-card-content>
                    </div>

                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">WealthBridge Consulting</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p class="para1">
                                Streamlined process with no administrative overhead, allowing you to focus on your core
                                business.
                            </p>
                        </mat-card-content>
                    </div>
                </div>


            </mat-card>
        </div>
    </div>

    <div class="row">
        <h1 class="heading1">5.No Hiring Hassles</h1>
        <div class="col-4">
            <video class="video1" src="\assets\video\hiring hassels.mp4" [muted]="'muted'" autoplay loop></video>
        </div>

        <div class="col-8">
            <mat-card class="example-card1">

                <div class="row">
                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">Full-Time Accountant</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="para1">
                                Time-consuming recruitment and onboarding process.
                            </p>
                        </mat-card-content>
                    </div>

                    <div class="col-6">
                        <mat-card-header>
                            <mat-card-title class="heading2">WealthBridge Consulting</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p class="para1">
                                Quick and easy engagement without the complexities of hiring.
                            </p>
                        </mat-card-content>
                    </div>
                </div>


            </mat-card>
        </div>

    </div>

</div>